* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEF;
    font-family: Cabin;
    margin: 0 auto
    
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    

}

.header-logo-link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;

}

.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 16px 52px;
    background: #6D91DC;
}

.logo {
    width: 38px;
    height: 38px;
}

.header-logo-content {
    color: #F8FDFE;
    font-family: Rochester;
    font-size: 28px;
}

.header-basket {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-cash {
    color: #F8FDFE;
    font-size: 16px;
}

.busket {
    background: #6D91DC;
    text-decoration: none;
    border: none;
    position: relative;
    top: 3px;
}


.img-handle {
    position: absolute;
    top: -7px;
    right: 8px;
}

.busket-number {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #F8FDFE;
    font-size: 12px;
    font-weight: 500;
}

.navigation {
    padding: 4px 52px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
}

.navigation-list-right {
    display: flex;
    justify-content:flex-end;
    gap: 40px;
    list-style: none;
}
 .navigation-list-left {
    list-style: none;
 }


.navigation-list-items a {
    text-decoration: none;
    color: #000;
    font-size: 16px;

}

form {

    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 121px;
}

.form-title {
    color: #1F1F1F;
    margin-top: 123px;
    font-size: 32px;
    font-weight: 600;
    padding: 0 52px 23px;
    border-bottom: 1px solid #A8A8A8;

}

.form-container {
    padding: 0 162px;
    display: flex;
    flex-direction: row;
    gap: 135px;
    margin: 123px auto 0;
    align-items: flex-start;
}

.form-details {
    display: flex;
    flex-direction: column;
}

.form-name {
    display: block;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.input-container,
.input-container-textarea,
.input-container-comment,
.order  {
    display: flex;
    flex-direction: column;
    width: 415px;    
    gap: 8px;
    padding-top: 32px;
}

.input-container input ,
.input-container-textarea textarea,
.input-container-comment textarea {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    font-family: Cabin;
    box-sizing: border-box;
}

.input-container input:focus,
.input-container-textarea textarea:focus,
.input-container-date input:focus,
.input-container-comment textarea:focus {
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}

.input-container label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;

}

.input-container-textarea label, 
.input-container-comment label,
.confirm-order {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.input-container-date,
.input-container-comment,
.radio-container {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.input-container-date {
    padding-top: 34px;
}

.input-container-date input,
.input-container-comment input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 0 8px;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.order span {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.radio-container {
    padding-top: 24px;
}

.radio-container span {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.order-box-name {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;

}

.fin-order {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background: #F5F5F5;
}

.order-box {
    padding: 40px;

}

.info-order {
    display: flex;
    flex-direction: row;
    padding: 32px 0 42px;
    gap: 13px;
    border-bottom: 1px solid #A8A8A8;
}

.sushi-img {
    width: 120px;
    height: 120px;
}

.sushi-weight {
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
}

.name-weight {
 width: 190px;
 display: flex;
 flex-direction: column;
 gap: 3px;
 padding-right: 32px;
}

.sushi-name {
    color: var(--black, #1F1F1F);
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #A8A8A8;
}

.sushi-counter {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 50px;
    
    
}

.fin-order-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.total-price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 11px;
}

.total-price-total {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.total-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.checkbox-agree {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 42px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}

.order-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
}

.btn-submit {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid #3D76BA;
    border-radius: 4px;
    background: #3D76BA;
    color: var(--white, #F8FDFE);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-reset {
    color: #1F1F1F;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    background: #DEDEDE;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 52px;
    background: #6D91DC;


}

footer span {
    font-size: 16px;
    font-weight: 400;
    color: #F8FDFE;
}